//Partial
@import "form";
    
//Variables
$padd: 50px;
$marg: 100%;

//Nesting
table {
    td {
  padding-bottom:20px; 
}
}
#mgs {
      img {
          border:2px solid yellow;
          border-radius: 5px;
          height: 120px;
          width: 170px;
}    
      img:hover {
          border:2px solid yellow;
          border-radius: 5px;
          height: 120px;
          width: 160px;
          opacity: 0.4;
          cursor: pointer;
} 
}

//Mixins
@mixin background($bac) {
  -webkit-background: $bac;
     -moz-background: $bac;
      -ms-background: $bac;
          background: $bac;
}

.register:hover { @include background(#18AA8B); }

//Inheritance / Extend
.divi{
    margin-top:60px;
    border:2px solid yellow;
    border-radius: 4px;
    background: green;
    color: #ffffff;
    box-shadow: 4px 4px #000000;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 25px;
            }
.change {
 background: #5B199D;   
}

.divi:hover {
  @extend .change;
  border-color: #2EDAC5;
}

//Operations and Functions
#sove { 
    width: 40%;
    background: green;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    border:1px solid #ffffff;
}


article[role="main"] {
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  width: 300px / 960px * 100%;
}


//Normal Styling in CSS Format
body{
    background:#0D799C;
    padding-left: $padd;
    padding-right: $padd;
    font-family: arial;
    }
.register{
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    background: purple;
    box-shadow: 8px 8px 8px #000000;
}
#fot{
    float:left;
    width: $marg;
    margin-bottom: 30px;
}
#fots{
    float:right;
    width: 300px !important;
}


